/* Formatações padrões e globais */
body{
    font-family: 'Playfair Display', serif;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 16, 175, 0.753);
    height: 100%;
    text-align: center;
}

main > section{
    width: 100%;
}

h1, h2, h3, h4, p, label{
    color: rgba(245, 245, 245, 0.822);
}

h3{
    font-size: 25px;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

body > .container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

/* Formatação da primeira section */
.logo{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logo-size{
    font-size: 50px;
}

.logo > img{
    margin-right: 20px;
}

button{
    height: 40px;
    color: rgba(16, 16, 175, 0.753);
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 255, 48);
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(192, 192, 6)
}

.button{
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    margin-top: 35px;
}

/* Formatação da segunda section */
body > .container > .style_section2 > .bloco{
    display: flex;
    grid-template-columns: repeat(3, 35em);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body > .container > .style_section2 > .bloco > .cards{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    width: 550px;
}

.select:hover{
    background-color: rgb(66, 66, 180);
    width: 600px;
    height: 100%;
}

.text{
    margin-top: 35px;
}

.text > p{
    margin-bottom: 10px;
    font-size: 18px;
}

.topic{
    margin: 15px;
}

h3{
    margin-bottom: 30px;
}

/* Formatação da terceira section */
.style_section3{
    width: 900px;
    height: 350px;
    flex-wrap: wrap;
}

.conteudo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.conteudo:hover{
    background-color: rgb(66, 66, 180);
    height: 100%;
    width: 900px;
}

.titulo-conteudo{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* Formatação da quarta section */
.form{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button2{
    background: white;
    border-radius: 10px;
    border-style: none;
    width: 70px;
}

.button2:hover{
    background-color: whitesmoke;
}

input{
    margin-top: 5px;
    width: 20vw;
    height: 3vh;
    border-radius: 5px;
    border-style: none;
}

.input-class::-webkit-input-placeholder{
    text-align: center;
}

.input-class:-ms-input-placeholder{
    text-align: center;
}

.input-class::-moz-placeholder{
    text-align: center;
}

.input-class:-moz-placeholder{
    text-align: center;
}

/* Formatação da do rodapé (footer) */
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > .rodape{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.logo-rodape{
    font-size: 15px;
}

.redes-sociais{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contato > p{
    margin-bottom: 7px;
}

/* Resposividade */
@media (max-width: 940px){
     
    .container{
        align-items: center;
    }

    .style_section3{
        align-items: center;
        justify-content: center;
    }

}
