body{
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(16, 16, 175, 0.753);
    height: 100%;
    text-align: center;
}

h1, h2, h3, h4, p{
    color: black;
}

.bold{
    font-weight: bolder;
}

body > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


body > .container > .bloco{
    display: grid;
    grid-template-columns: repeat(3, 35em);
    align-items: center;
}

body > .style_section2 > .container > .bloco > .cards{
    display: flex;
    align-items: center;
    justify-content: center;
}